div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
	div.container
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
			a.navbar-brand
				| SCRUM APP
		div.collapse.navbar-collapse
