extends layout

block content
   div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        div.container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            a.navbar-brand
                | SCRUM App
            div.nav.navbar-nav.navbar-right
                    li
                        a(href='/creator') New project
                    li
                        a(href="/logout") Log out
        div.collapse.navbar-collapse
    div(align='center', class='jumbotron')
        h2 Hello World
         h3 Hi  #{profile.username}!
