body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
lefty{
   position: absolute;
   top: 0;
   right: 0;
   width: 100px;
   text-align:left;"
}
